    <!--Footer-->
    <footer class="Footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p class="mb-0"> &copy; 2020 All Rights reserved. Designed by Ifeanyi</p>
                </div>
                <div class="col-auto">
                    <a href="#" class="me-3">Twitter</a>
                    <a href="#" class="me-3">Instagram</a>
                    <a href="#">Facebook</a>
                </div>
            </div>
        </div>
    </footer>